html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(133, 108, 85, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.frame {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 75vh;
    background-color: rgba(190, 35, 35, 1);
    border-radius: 25px;
    border: .75vh solid rgb(190, 54, 54);
    font-family: 'Titillium Web', sans-serif;
}

.logo-container, .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.5%;
    width: 90%;
}

/* logo */

.logo-container {
    font-style: italic;
    gap: 3.5vh;
}

.title, .logo-left, .logo-right {
    font-size: 2vh;
    color: rgb(255,215,0);
}

.title {
    font-style: normal;
    font-size: 5vh;
    font-family: 'Arizonia', cursive;
}



/* Screen */

.screen-container {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height: 65%;
    width: 85%;
    background-color: rgba(182, 180, 180, 1);
    border: .4vh solid rgb(139, 22, 22);
}

.screen {
    height: auto;
    width: 60.195%; /* best way I know to make the screen a square at the moment*/
    background-color: white;

}

/* buttons */

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* slider */
.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5vh;
    height:100%;
    width: fit-content;
}

#slider-value {
    font-size: 1.8vh;
    font-weight: bold;
    color: rgb(139, 22, 22);
    margin: 0;
    padding: 0;
}

.slider {
    -webkit-appearance: none;
    margin-bottom: 3.5vh;
    width: 12vh;
    height: 1.5vh;
    border-radius: 10px;
    outline: none;
    background-color: rgb(163, 52, 52);
    border: .2vh solid rgb(139, 22, 22);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    background-color: rgb(235, 232, 232);
    border: .4vh solid white;
    cursor: pointer;
}

.color-selector-container, .reset-container {
    display: flex;
    align-items: center;
    gap: 1vh;
    font-size: 1.8vh;
    font-weight: bold;
    color: rgb(139, 22, 22);
}

#color_front, .reset-button {
    background-color: rgb(235, 232, 232);
    border: .70vh solid white;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    height: 6.5vh;
    width: 6.5vh;
    cursor: pointer;
}

#color_front {
    height: 5.1vh;
    width: 5.1vh;
}

input[type=color] {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: inherit;
    margin-top: auto;
    border-top: 1vh solid rgb(105, 81, 58);
}

.copyright {
    font-size: 1.8vh;
    font-weight: bold;
    color: white;
}
